@font-face { /*FONT STUFF*/
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");}
@font-face {
  font-family: "Oswald";
  src: url(./assets/fonts/Oswald-VariableFont_wght.ttf) format("truetype");}
@font-face {
  font-family: "Earthorbiter";
  src: url(./assets/fonts/earthorbiter.ttf) format("truetype");}
@font-face {
  font-family: "SF Pro Light";
  src: url(./assets/fonts/SF-Pro-Display-Light.otf);
}
@font-face {
  font-family: "SF Pro";
  src: url(./assets/fonts/SF-Pro-Display-Regular.otf);
}
/* -------------------------------------------------------------------------- */
/* TYPING BAR */
/* -------------------------------------------------------------------------- */
.typing-blinker { /*ANIMATION FOR MOTTOS*/
    display: inline-block;
    position: relative;
    vertical-align: middle; /* Align text and typing bar vertically */
    font-size: 80px;
    font-family: Earthorbiter, sans-serif;
  }
  .typing-bar {
    display: inline-block;
    width: 2px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    background-color: #fff; /* Change color as needed */
    animation: blink-animation 2s infinite;
    vertical-align: middle;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
/* -------------------------------------------------------------------------- */
/* END */
/* -------------------------------------------------------------------------- */



.intro {
  background-color: black;
  padding-top: 30vh;
  padding-bottom: 40vh;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
}


#particles-js {
  position: absolute;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  z-index: 1;
}

.overlay {
  z-index: 2;
}




body {
  transition: background-color 0.5s ease; /* Smooth transition for background color */
  background-color: #333333; /* Default background color */
  color: #d6baba; /* Light text color */
}


/* -------------------------------------------------------------------------- */
/* TECHSTACK */
/* -------------------------------------------------------------------------- */
.techstack {
  bottom: 0; /* Position it at the bottom of the screen */
  left: 0;
  width: 100%; /* Take up the full width of the viewport */
  background-color: #3d3838;
  padding: 10px; /* Add some padding */
  margin-top: 8vh;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent skill cards from wrapping */
  scroll-behavior: smooth; /* Enable smooth scrolling */
  display: inline-block;
  white-space: nowrap; /* Prevent wrapping of content */
  animation: scrollRight 10s linear infinite;
}
.techstack h2 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px; /* Add some margin below the heading */}
#tsAni {
    background-color: transparent;
    margin-top: 10;}
.skill-card {
  display: inline-block; /* Display skill cards inline */
  overflow-x: scroll; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of content */
  background-color: #444;
  height: 200px;
  width: 10vw;
  margin-right: 10px; /* Add some spacing between skill cards */
  color: #fff;
  font-size: 16px;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}
.skill-card img {
  margin:auto;
  margin-top: 20px;
  display: block;
}
.skill-card:hover {
  background-color: #555; /* Change background color on hover */
  cursor: default;
}
.ts-text {
  text-align: center;
  color: aliceblue;
  font-family: "SF Pro", sans-serif;
  padding-top: 40px;
  font-size: 25px;
}
.content {
  margin-bottom: 40px; /* Add margin to bottom of content to accommodate the sidebar */
}

@keyframes scrollRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(100% - 100vw)); } /* Adjust distance to scroll */
}
/* -------------------------------------------------------------------------- */
/* END */
/* -------------------------------------------------------------------------- */


.menu-icon {
  filter: invert(97%); 
}

.container {
    display:flex;
    justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}



/*All my nav elements*/
.name-title {
  text-align: center;
  font-family: Earthorbiter, sans-serif;
}



/* ========================================================================== */
/* EXPERIMENTS */
/* ========================================================================== */
.experiments {
  justify-content: center;
}

.experiment {
  text-align: center;
  display: flex;
}

h3 {
  font-family: "SF Pro", sans-serif;
  font-size: 4vh;
}
#exp {
  width: 30vh;
  height: 30vh;
  margin-right: 10vw;
}


/* ========================================================================== */
/* FOOTER */
/* ========================================================================== */

/*GRADIENT XZUFRO.DEV*/
.gradient-text {
  background: url(assets/img/gradient.png); /* Define the gradient */
  font-family: "SF Pro", sans-serif; 
  background-repeat: no-repeat;
  font-size: 10vh;
  background-position: center;
  background-size: cover;
  margin-top: 5vh;
-webkit-background-clip: text; /* Clip the background to the text */
background-clip: text; /* Clip the background to the text */
color: transparent; /* Make the text transparent */}

.icons {
  padding-bottom: 5rem;
  filter: invert(80%);}
